*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    height: 15vh;
    width: 100vw;
}

.corPreto{
    background-image: linear-gradient(to right, #b4ebff, #5fceff, #00aeff, #0088ff, #0059ff)!important;
}

.corPreto a{
    color: white;
}

.corPreto a:hover{
    color: rgb(118, 228, 255);
}

.corPreto a:focus{
    color: #0d5b80;
}

body{
    overflow-x: hidden;
}


#pagina1{
    width: 100vw;
    height: auto;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;*/

}